#main{
	max-width: 1080px;
	margin: 0auto;
}

#banner{
	width: 1080px;
	height: 350px;
}

.container{
	width: 100%;
}

.bloco{
	float: left;
	width: 100%;
	height: 530px;
	margin-left: 2%;
}

@media only screen and (min-width: 769px){

.bloco{
	float: left;
	width: 30%;
	height: 525px;
	margin-left: 1%;
	margin-right: 2%;
}

}

/** CONFIGURAÇÃO DA NAVBAR **/
#pesquisa{
	border-radius: 20px;
}

#nome{
	border: 0px;
	padding: 0px;
}

.container{
	border: 0px;
	padding: 0px;
}
