#main {
    max-width: 1080px;
    margin: 0auto;
}

#banner {
    width: 1080px;
    height: 350px;
}

.container {
    width: 100%;
}

.bloco {

}

@media only screen and (min-width: 769px) {
    .bloco {
        float: left;
    
    }
    .bloco2 {
        float: left;
        width: 20%;
        height: 200px;
        margin-left: 10%;
        margin-right: 10%;
    }
}


/** CONFIGURAÇÃO DA NAVBAR **/

#pesquisa {
    border-radius: 20px;
}

#nome {
    border: 0px;
    padding: 0px;
}

.container {
    border: 0px;
    padding: 0px;
}



/**Container de conteudo**/

.conteudo{
	border: 0px;
	padding: 5%;
	position: relative;
	padding-bottom: 30px;
	
}

/**CONFIGURAÇÃO FOOTER**/

.rodape{
	background-color: rgba(180, 180, 180, 0.918);
	color: rgb(51, 51, 51);
	position: relative;
	bottom: 0;
}

.artic{
	width: 33.33%;
	height: 10px;
}

	/** Style do carrinho**/
.content{
	margin-top: 30px;
}
/** Style do carrinho**/

.content {
    margin-top: 30px;
}

.dt-produto {
    display: flex;
    align-content: center;
    align-items: center;
}

.dt-produto>span {
    display: flex;
    align-content: center;
    align-items: center;
}

.qtd-produto {
    display: flex;
    align-items: center;
    align-content: center;
}

.qtd-produto>input {
    width: 50px;
}

.box-resumo {
    margin-top: 30px;
    padding: 10px;
    border: solid 2px #000000;
}

.item-carrinho {
    margin-top: 15px;
}

.item-carrinho-lista {
    list-style: none !important;
}
.carrinho-btn-finalizar{
	margin-top: 30px;
	margin-bottom: 30px;
}

.carrinho-btn-finalizar {
    margin-top: 30px;
    margin-bottom: 30px;
}
