#main {
    max-width: 1080px;
    margin: 0auto;
}



  .navbar .navbar-brand:hover{
    color:rgb(28, 243, 0) ;
    transition: 1s;
    text-shadow: 0 0 4px #fff;

#banner {
    width: 1080px;
    height: 350px;
}

.container {
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom, gray, black);
}

@media only screen and (min-width: 769px) {
    .bloco {
        float: left;
        padding-bottom: 20px;
    }
    .bloco2 {
        float: left;
        width: 20%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
        border: double 4px transparent;
        margin: auto;
        border-radius: 20px;
        background-image: linear-gradient(white, gray), radial-gradient(circle at top left, #00C853, #B2FF59);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
}


/** CONFIGURAÇÃO DA NAVBAR **/

nav {
    border-bottom: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

#pesquisa {
    border-radius: 20px;
}

#nome {
    border: 0px;
    padding: 0px;
}

.container {
    border: 0px;
    padding: 0px;
}


/**Container de conteudo**/

.conteudo {
    border: 0px;
    padding: 5%;
    position: relative;
    padding-bottom: 30px;
}

.card-img-top {
    border-radius: 20px 20px 0px 0px;
}

.card {
    border: double 4px transparent;
    margin: auto;
    border-radius: 20px;
    background-image: linear-gradient(white, gray), radial-gradient(circle at top left, #00C853, #B2FF59);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


/**CONFIGURAÇÃO FOOTER**/

.rodape {
    background-color: rgba(180, 180, 180, 0.918);
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    border-top: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.artic {
    width: 33.33%;
}

.imglogo {
    width: 150px;
    height: 30px;
    margin: 0px;
    margin-left: 10%;
}


/** Style do carrinho**/

.content {
    margin-top: 30px;
}


/** Style do carrinho**/

.carrinho {
    color: blanchedalmond;
}

.content {
    margin-top: 30px;
}

.dt-produto {
    display: flex;
    align-content: center;
    align-items: center;
}

.dt-produto>span {
    display: flex;
    align-content: center;
    align-items: center;
}

.qtd-produto {
    display: flex;
    align-items: center;
    align-content: center;
}

.qtd-produto>input {
    width: 50px;
}

.box-resumo {
    margin-top: 30px;
    padding: 10px;
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.item-carrinho {
    margin-top: 15px;
}

.item-carrinho-lista {
    list-style: none !important;
}

.carrinho-btn-finalizar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carrinho-btn-finalizar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-4 {
    background-color: blanchedalmond;
}